# opencv
opencv-contrib-python

# numpy
numpy

# matplotlib
matplotlib
PyQt6

# object detection & dataset prep
ultralytics
roboflow
# openvino==2024.5.0
openvino-dev[torch]

# training
torch
torchvision